
.container{


    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background: linear-gradient(rgba(119, 149, 214, 0.945),rgb(190, 205, 224)); */
    /* background-color: rgba(42, 57, 122, 0.945); */
    width: 380px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px rgba(2, 2, 26, 0.411);
    
}

h1.Log_In{


    /* text-transform: uppercase; */
    color: white;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1em;
    

}
a{
    color: rgba(43, 43, 148, 0.829);
    font-size: 18px;
    
}
#Login{
    text-align: left;
    color: rgb(43, 43, 148);
}
.control input{


    width: 100%;
    display: block;
    padding: 7px;
    color:#222;
    border:none;
    outline:none;
    margin:1em 0;
}


.control input[type="submit"]{


    background:rgb(255, 0, 106);
    color:#fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .9;
    transition: opacity .3s ease;

}

.control input [type="submit"]:hover{

    opacity:1;

}
.Loglink{

    text-align: center;
    color: white;

}
.Loglink a{

    text-decoration:none;
    color:rgb(255, 255, 255);
    opacity:.6;
    transition: opacity .3s ease;

}
.Loglink a:hover{

    opacity:1;
}
label{
    color: white;
}
.error{
    color: red;
}